@model IEnumerable<Inventory.Models.Category>

@{
    ViewBag.Title = "Index";
}
<br />
<p>
    @Html.ActionLink("Create New", "Create",null, new {@class= "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Description</th>
        <th>Active</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @if (item.IsActive.HasValue && item.IsActive.Value)
            {
                <span class="label label-success"> YES</span>
            }
            else
            {
                <span class="label label-default">NO</span>
            }
        </td>
        <td>
            <a href="/Categories/Edit/?id=@item.Id" class="glyphicon glyphicon-pencil"></a>

        </td>
    </tr>
}

</table>
